node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

client/dist/
client/build/
client/**/*.generated.*

.idea/
*.iml
dataSources.xml
dataSources.local.xml
modules.xml
vcs.xml
workspace.xml
sqldialects.xml

env
.env.*          # .env.local, .env.production, .env.test …

.DS_Store
Thumbs.db
desktop.ini

*.log
